{% extends 'trackdrawing/PageTemplate.html' %}
{% load Auth_extra %}

{% block mainframe %}
<h2>Modify user group</h2>
<div>
<form method="POST"> {% csrf_token %}
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<td>User</td>
				{% for option in groupes%}
					<td>{{option}}</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for usr in usr %}
				<tr>
					<td>{{usr.username}}</td>
				{% for option in groupes%}
					{% if usr|has_group:option%}
						<td><input type="radio" name="group_{{usr.pk}}" value="{{option}}" checked></td>
					{%else%}
						<td><input type="radio" name="group_{{usr.pk}}" value="{{option}}"></td>
					{%endif%}
				{% endfor %}
				</tr>
			{% endfor %}
			<tr>
				<td><input type="submit" name="Chg_Group" value="Change Group"></td>
			</tr>
		</tbody>
	</table>
</form>
</div>
<h2> Transfer task to another User</h2>
<div>
	<form method="POST"> {% csrf_token %}
		From <select name="old_id">
		{% for item in old_user_list %}
			<option value="{{ item.id_user }}">{{ item.id_user__username }}</option>
		{% endfor %}
		</select> to <select name="new_id">
		{% for item in new_user_list %}
			<option value="{{ item.id }}">{{ item.username }}</option>
		{% endfor %}
		</select>
		<input type="submit" name="transfer_task" value="Modify">
	</form>
</div>
<br>

<h1> Other Tools </h1>
<h2>Affect drawings to all users</h2>
<div>
	<form action="{% url 'work' %}" method="post">{% csrf_token %}
	    <label for="plans">Nombre de plan: </label>
	    <input id="plans" class="col-md-1" type="text" name="plans_nb" value="{{nb_plan_max}}">
	    <input type="submit" class="btn btn-primary" value="OK">
	</form>
</div>
<br>
<h2>Affect drawings to checker</h2>
<div>
	<form action="{% url 'checker' %}" method="post">{% csrf_token %}
	    <label for="plans">Nombre de plans à checker: </label>
	    <input id="plans" class="col-md-1" type="text" name="plans_nb" value="{{nb_plan_c_max}}">
	    <input type="submit" class="btn btn-primary" value="OK">
	</form>
</div>

<h2>Can be used to launch python script</h2>
<div>
	<form action="{% url 'test' %}" method="post">{% csrf_token %}
	    <input type="submit" class="btn btn-primary" value="OK">
	</form>
</div>
{% endblock %}