{% extends 'trackdrawing/PageTemplate.html' %}
{% load render_table from django_tables2 %}
{% block mainframe %}


<table class="table">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Plans Ouverts</th>
			<th scope="col">Plans au Backlog</th>
			<th scope="col">Plans Fermés</th>
			<th scope="col">Plans Vérifiés</th>
			<th scope="col">Plans Invalides</th>
		</tr>
	</thead>
	<tbody>
		{% for row in df.itertuples %}
			<tr>
				<td>{{row.date}}</td>
				<td>{{row.open_drawings}}</td>
				<td>{{row.backlog_drawings}}</td>
				<td>{{row.closed_drawings}}</td>
				<td>{{row.checked_drawings}}</td>
				<td>{{row.invalid_drawings}}</td>
			</tr>
		{% endfor%}
	</tbody>
</table>

{% endblock %}


