{% extends 'trackdrawing/PageTemplate.html' %}
{% load render_table from django_tables2 %}
{% block mainframe %}
<div class="row">
	<div class="col col-md-5">
		<div class="row d-flex justify-content-center">
			<div id="line_chart" style="width: 100%">
				<embed type="image/svg+xml" src= {{ chart_line|safe }} />
			</div>
		</div>
		<br>
		<br>
		<div class="row d-flex justify-content-center">
			<button class="btn btn-primary flex-fill" type="button" data-toggle="collapse" data-target="#collapseAverageTimeTable" aria-expanded="false" aria-controls="collapseAverageTimeTable">User progression</button>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="collapse multi-collapse" id="collapseAverageTimeTable">
				<div class="card card-body">
					{{ AverageTimeTable|safe }}
				</div>
			</div>
		</div>

	</div>
	<div class="col col-md-5">
		<div class="row d-flex justify-content-center">
			<div id="line_chart" style="width: 100%">
				<embed type="image/svg+xml" src= {{ chart_xy|safe }} />
			</div>
		</div>
		<br>
		<br>
		<div class="row d-flex justify-content-center">
			<button class="btn btn-primary flex-fill" type="button" data-toggle="collapse" data-target="#collapseTable_summary" aria-expanded="false" aria-controls="collapseTable_summary">Team progression</button>
		</div>
		<div class="rowd-flex justify-content-center collapse multi-collapse" id="collapseTable_summary">
			<div class="card card-body">
				{{ Table_summary|safe }}
			</div>
		</div>
	</div>

	<div class="col col-md-2">
		<form action="" method="get">
			{{ history_filter.form.as_p }}
			<input type="submit" />
		</form>
	</div>

</div>

{% endblock %}


