{% extends 'trackdrawing/PageTemplate.html' %}
{% load render_table from django_tables2 %}
{% block mainframe %}
<div class="row ">
	<div class="col col-md-10">
		<div class="row text-center">
			<div id="line_chart" style="width: 75%">
				<embed type="image/svg+xml" src= {{ chart_line|safe }} />
			</div>
		</div>
		<div class="row text-center">
				{{ AverageTimeTable|safe }}
		</div>
	</div>
	<div class="col col-md-2">
		<form action="" method="get">
			{{ history_filter.form.as_p }}
			<input type="submit" />
		</form>
	</div>
</div>

	<div id="line_chart" style="width: 75%">
	    <embed type="image/svg+xml" src= {{ chart_xy|safe }} />
	</div>

	<div >
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Temps moyen par plan closed</th>
					<th scope="col">Temps moyen par plan backlog</th>
					<th scope="col">Temps moyen total par plan</th>

				</tr>
			</thead>
			<tbody>
				
				{% for values in temp_total %}
					<tr>
						{% for val in values %}
							<td>{{val}}</td>
						{% endfor%}
					</tr>
				{% endfor%}
			</tbody>
		</table>
		
	</div>

	

	

</div>


{% endblock %}


