{% extends 'trackdrawing/db_mass_mod.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% load extras %}

{% block MassModView %}
    {% crispy filter.form filter.helper %}
    {% if table %}
        Query has returned {{table.rows|length}} records:
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" id="comments" name="comment" value="[POSTRAIT " style="width: 400px"/>   <input type="submit" value="Add all records to re-check state"/>
        </form>

        {% render_table table %}
    {% endif %}

{% endblock %}