{% extends 'trackdrawing/PageTemplate.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% load extras %}

{% block mainframe %}
    <form method="post" >
    {% csrf_token %}

    {% crispy form %}

    <br>
        test
    <br>
        {{ "DIVISION ATELIERS - PROLONGEMENT DES ATELIERS - CHEMINS DE ROULEMENT DANS HALL DE 14M ET 6M500 - DETAILS"|check_error|safe }}
    <br>
    Query has returned {{records|length}} records:
    <br>
    <br>
        {% if table %}
            {% render_table table %}
        {% else%}
        <table class="table">
            <thead>
                <tr>
                    {% for field in records.0 %}
                        <th>{{field}}</th>
                    {% endfor %}
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for element in records %}
                    <tr>
                        {% for field, value in element.items %}
                            <td> {{value}}</td>
                        {% endfor %}
                        <td><input type="checkbox" id="selectquery" name="queryselection" value="{{element|dict_first}}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        Replace complete field with :
        <input type="text" id="new value" name="new_value"/><input type="submit" name="Modify" value="Modify" class="btn btn-primary" id="submit-id-submit"/>
        {% endif %}
    </form>

    <script>
    $.fn.editable.defaults.mode = 'inline';
    $.fn.editableform.template ='<form class="form-inline editableform">'+
    '<div class="control-group">'+
    '<div style="width: 100%"><div class="editable-input" style="width: 80%"></div><div class="editable-buttons"></div></div>'+
    '<div class="editable-error-block"></div>'+
    '</div>'+
    '</form>';
    $.fn.editableform.buttons =
    '<button type="submit" class="btn btn-primary btn-sm editable-submit">'+
    '<i class="fa fa-fw fa-check"></i>'+
    '</button>'+
    '<button type="button" class="btn btn-secondary btn-sm editable-cancel">'+
    '<i class="fa fa-fw fa-times"></i>'+
    '</button>';

    $(document).ready(function() {
        $('.record_title').editable({
            url: '{% url "xed_post" %}',
            params: {csrfmiddlewaretoken:'{{csrf_token}}',
            model: 'ExtractSAP'},
<!--            tpl: "<input type='text' style='width: 100%'>",-->
            error: function(response, newValue) {
                return response.responseText;
            },
            success: function(response, newValue) {
                if(!response.success) return response.error_msg;
            }
        });
    });
    </script>
{% endblock %}