{% extends 'trackdrawing/PageTemplate.html' %}
{% load crispy_forms_tags %}
{% load extras %}

{% block mainframe %}
    <form method="post" >
    {% csrf_token %}

    {% crispy form %}

    <br>
    <br>
    Query has returned {{records|length}} records:
    <br>
    <br>
        <table class="table">
            <thead>
                <tr>
                    {% for field in records.0 %}
                        <th>{{field}}</th>
                    {% endfor %}
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for element in records %}
                    <tr>
                        {% for field, value in element.items %}
                            <td> {{value}}</td>
                        {% endfor %}
                        <td><input type="checkbox" id="selectquery" name="queryselection" value="{{element|dict_first}}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="text" id="new value" name="new_value"/><input type="submit" name="Modify" value="Modify" class="btn btn-primary" id="submit-id-submit"/>

    </form>

{% endblock %}