{% extends 'trackdrawing/PageTemplate.html' %}
{% load render_table from django_tables2 %}
{% block mainframe %}

<h1>Estampillage de plans</h1>
<p>L'estampillage des plans se fait avec <a href="https://www.foxitsoftware.com/fr/downloads/">Foxit Reader</a> v9.7 mini.<br>
    Vous devez télécharger également le tampon spécifique <a href="{{ MEDIA_URL }}Stamps.zip">ici</a>.<br>
    Ces tampons sont à installer dans votre répertoire utilisateur : "C:\Users\<b>Username</b>\AppData\Roaming\Foxit Software\Foxit Reader\Stamps"
</p>
<br>
{% render_table table %}

<br>
{% endblock %}