{#% load bootstrap3 %#}
{#% load project_extras %#}
{% load querystring from django_tables2 %}
{#% load title from django_tables2 %#}
{% load django_tables2 %}
{% load trans blocktrans from i18n %}

{% block table %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped"{% if table.attrs %} {{ table.attrs.class.as_html }}{% endif %}>
            {% block table.thead %}
            <thead>
                <tr>
                    <th>
                        {% if table.attrs.as_button %}
                            <a href="{% url table.attrs.as_button.url_name_for_new %} " class="btn btn-small btn-primary dark">
                                <span class="hidden-phone">
                                        <i class="{{ table.attrs.as_button.icon }}"></i>
                                        Add {{ table.attrs.as_button.text }}
                                </span>
                            </a>
                        {% endif %}
                    </th>
                    {% if table.attrs.as_del or table.attrs.as_hist %}
                        <th colspan="{{ table.columns|length }}" class="justify-content-right">
                    {% else %}
                        <th colspan="{{ table.columns|length|add:"-1" }}" class="justify-content-right">
                    {% endif %}
                        <form method="post" class="form-inline form-search text-right">
                          {% csrf_token %}
                            <div class="col-12">
                              <input id="{{ table.attrs.search_form.id }}" name="search" type="text" class="form-control" placeholder="#title, num" {% if search %} value="{{ search }}"{% endif %}>
                              <button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </form>
                    </th>
                </tr>

              <tr>
                {% for column in table.columns %}
                    {% if column.orderable %}
                    <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                    {% else %}
                    <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                    {% endif %}
                {% endfor %}
                {% if table.attrs.as_del or table.attrs.as_hist or table.attrs.as_ok%}
                    <th ><a href="#">Action</a></th>
                {% endif %}
              </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody {{ table.attrs.tbody.as_html }}>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                  {% block table.tbody.row %}
                  <tr class="{% cycle "odd" "even" %}">
                      {% for column, cell in row.items %}
                          <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                      {% endfor %}
                      {% if table.attrs.as_del or table.attrs.as_hist or table.attrs.as_edit or table.attrs.as_ok %}
                          <td>
                            {% if table.attrs.as_edit %}
                              <a href="{% url table.attrs.as_edit.url_name_for_edit row.attrs.data_id %} " class="btn btn-warning btn-sm">
                                  <i class="{{ table.attrs.as_edit.icon }}"></i>
                              </a>
                            {% endif %}
                            {% if table.attrs.as_del %}
                              <a href="{% url table.attrs.as_del.url_name_for_del row.attrs.data_id %} " class="btn btn-danger btn-sm">
                                  <i class="{{ table.attrs.as_del.icon }}"></i>
                              </a>
                            {% endif %}
                          {% if table.attrs.as_ok %}
                              <a   class="btn btn-success btn-sm role_approved_ok">
                                  <i class="{{ table.attrs.as_ok.icon }} "></i>
                              </a>
                            {% endif %}
                            {% if table.attrs.as_hist %}
                              <a href="{% url table.attrs.as_hist.url_name_for_hist row.attrs.data_id %} " class="btn btn-success btn-sm bt_rm_sorte">
                                  <i class="{{ table.attrs.as_hist.icon }}"></i>
                              </a>
                            {% endif %}
                          </td>
                      {% endif %}
                  </tr>
                  {% endblock table.tbody.row %}
                {% empty %}
                  {% if table.empty_text %}
                  {% block table.tbody.empty_text %}
                  <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                  {% endblock table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>

{% endblock table %}

{% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
    <nav aria-label="Table navigation">
        <ul class="pagination justify-content-center">
        {% if table.page.has_previous %}
            {% block pagination.previous %}
            <li class="previous page-item">
                <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                    {% trans 'previous' %}
                </a>
            </li>
            {% endblock pagination.previous %}
        {% endif %}
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.range %}
        {% for p in table.page|table_page_range:table.paginator %}
            <li class="page-item{% if table.page.number == p %} active{% endif %}">
                <a class="page-link" {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>
                    {{ p }}
                </a>
            </li>
        {% endfor %}
        {% endblock pagination.range %}
        {% endif %}
        {% if table.page.has_next %}
            {% block pagination.next %}
            <li class="next page-item">
                <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="page-link">
                    {% trans 'next' %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endblock pagination.next %}
        {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock pagination %}
<script>
$(document).ready(function(){
  $("#{{ table.attrs.search_form.id }}").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#{{ table.attrs.tbody.id }} tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>