{% extends 'trackdrawing/PageTemplate.html' %}
{% load Auth_extra %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block mainframe %}
    {% if form.instance.status == 'CLOSED' or form.instance.status == 'TO_RE-CHECK' %}
    <h3> Check Drawing</h3>
    {% endif %}
    {% crispy form %}
    <br>
    {% if form.table_liasse %}
        {% render_table form.table_liasse %}
    {% endif %}

<script>
$( document ).ready(function() {
    {% if  user|has_group:'Check' %}
        $("button[name='backlog']").hide();
    {% endif %}
});
</script>
{% endblock %}


